{% extends "layout.html" %}

{% block title %}
<title>Tarea Montecarlo</title>
{% endblock %}


{% block content %}
<div class="container py-3">
    <h3 class="text-center">Ejercicio Planteado</h3>
    <p class="enunciado text-center">Una empresa del medio, dedicada al ensamblado de aparatos de aparatos de telefonía,
        cuenta actualmente con 9 operarios y cada uno con una producción de 28 aparatos terminados.
        Se ensamblan tantos aparatos como lo exija la demanda. La demanda tiene la siguiente probabilidad
        estadística:</p>
    <p class="enunciado">Se desea conocer:
        <ul class="enunciado">
            <li>a)	La cantidad de operarios necesarios para la producción en
                los próximos 20 días atendiendo la mayor cantidad de demanda posible y sin tener tiempos ociosos.</li>
            <li>b)	Diseñe alguna alternativa para optimizar la producción del negocio</li>
        </ul>
    </p>
</div>
<div class="container w-50 text-center">
    <legend class="text-left header">Tabla Demanda</legend>
</div><br>

<div class="container w-50">
    {{data|safe}}
    <div class="d-grid gap-2 col-6 mx-auto">
        <a class="btn btn-primary" href="resolucion" role="button">Ver Resolución</a>
    </div>
</div>

{% endblock %}